<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<%-include("header.ejs")%>

<body>
  <div class="main">
    <h2>About us:</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum turpis id est pharetra, eu feugiat
      lorem posuere. Etiam dignissim quam sodales, lobortis massa sed, gravida sem. Pellentesque suscipit vehicula velit
      ac convallis. In viverra viverra purus, ut scelerisque diam ullamcorper tempor. Pellentesque sit amet risus
      ullamcorper, efficitur ligula semper, ultrices eros. Sed aliquam felis mauris, vel viverra mauris viverra ac. Duis
      nec pulvinar turpis, nec mattis eros. Vivamus rutrum convallis libero. In placerat ligula vitae metus sollicitudin,
      eget consectetur velit vulputate. Etiam placerat diam pretium nisi lobortis efficitur.</p>
    <p>Maecenas suscipit vitae felis vel varius. Nullam ante orci, condimentum at sem rhoncus, luctus elementum orci.
      Praesent ut sapien ac lacus interdum feugiat. Aliquam non dui nibh. Fusce eget molestie lorem. Sed bibendum justo
      sit amet feugiat molestie. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam aliquam pretium
      aliquet. In efficitur risus est, non luctus diam mattis eu. Morbi quis ipsum at elit venenatis molestie. Fusce
      ultricies diam eu dolor tempor, eu rhoncus lacus lacinia.</p>
    <p>Etiam pellentesque erat accumsan libero interdum, at ultricies leo pulvinar. Nunc imperdiet vehicula lorem, a
      laoreet velit commodo ac. Curabitur rutrum ut lectus ac bibendum. Mauris sit amet porta enim. Integer euismod lorem
      libero, sit amet hendrerit nisl interdum eget. Ut dui massa, efficitur id imperdiet id, aliquet id ex. Sed
      sollicitudin cursus malesuada. Etiam eu aliquet urna. In in urna id nisl ultrices faucibus dapibus nec lectus.
      Vestibulum eleifend ipsum vehicula, posuere mauris eu, ultrices elit.</p>
    <p>Vestibulum tincidunt arcu enim, ut consequat massa lobortis ut. Quisque porttitor sed purus sed consectetur. Nam
      laoreet tincidunt quam vel tempor. Mauris mollis tellus semper mi porta, eget cursus arcu interdum. Pellentesque
      eget justo ut leo placerat pretium. Ut tincidunt hendrerit metus non bibendum. Nullam in turpis placerat, convallis
      neque ut, blandit sem. Nunc viverra ut magna id faucibus. Nunc porta felis eu velit bibendum, nec accumsan lorem
      posuere. Mauris vitae luctus lorem, rutrum pharetra nibh.</p>
    <p>Nunc convallis felis et diam euismod euismod. Nam eu arcu nec massa blandit consequat ac vel ipsum. Duis laoreet et
      arcu nec euismod. In sodales posuere elementum. Fusce porta eget massa in accumsan. Interdum et malesuada fames ac
      ante ipsum primis in faucibus. Nullam rutrum dictum maximus. Fusce aliquam blandit leo, et rutrum dui feugiat in.
      Donec facilisis, nisl non imperdiet varius, risus leo ullamcorper risus, at fringilla velit diam vitae tellus.
      Quisque efficitur sem ante, at accumsan felis lacinia vel.</p>
  </div>

</body>

</html>