<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/itemPage.css' />
</head>
<%-include("header.ejs")%>

  <body>
    <div class="main">
      <h2>Add new product</h2>
      <div class="myform">
        <form action="/items/item" method="post">
          <label>
            Title: <input type="text" name="title">

          </label>
          <label>
            Price: <input type="number" name="price">

          </label>

          <label>
            Category:
            <select name="category">
              <option value="fruits">Fruits</option>
              <option value="vegetables">Vegetables</option>
              <option value="meat">Meat</option>
            </select>
          </label>

          <label>
            Seller Id: <input type="number" name="user_id">
          </label>
          <input type="submit" value="Add item">
        </form>

      </div>
    </div>
  </body>

</html>