<header>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/header.css' />

  <h1>RottenApples Corp.</h1>
  <div class="pages">
    <button class="headerBtn" OnClick="location.href='/'">
      Home</button>
    <button class="headerBtn" OnClick="location.href='/about'">
      About</button>
    <button class="headerBtn" OnClick="location.href='/items/item'">
      Items</button>
    <button class="headerBtn" OnClick="location.href='/add-item'">
      Add new item</button>
    <button class="headerBtn" OnClick="location.href='/item-page'">
      Item</button>
    <!-- <a href="/">Home</a> -->
    <!-- <a href="about">About</a> -->
    <!-- <a href="items-list">Items</a>
      <a href="add-item">Add new item</a>
      <a href="item-page">Item</a> -->
    <button class="headerBtn">Log Out</button>
  </div>
</header>