<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<%-include("header.ejs")%>

  <body>
    <div class="main">
      <h2>Welcome to our sales company <%= title %>
      </h2>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
      <div>
        <h3>Sign In, if you want to use our site:</h3>

        <form action="/users/user-sign-in" method="POST">

          <label class="signInLabel">
            Name: <input type="text" name="name">
          </label>

          <label class="signInLabel">
            Nick: <input type="text" name="nick">
          </label>

          <label class="signInLabel">
            Email: <input type="text" name="email">
          </label>

          <label class="signInLabel">
            Password: <input type="text" name="password">
          </label>

          <input type="submit" value="Sign In">
        </form>
      </div>

      <div>
        <h3>Or login if you have an account on our site :</h3>

        <form action="/users/user-login" method="POST">
          <label class="signInLabel">
            Email: <input type="text" name="email">
          </label>

          <label class="signInLabel">
            Password: <input type="text" name="password">
          </label>

          <input type="submit" value="Log In">
        </form>
      </div>
    </div>

  </body>

</html>