<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <%-include("header.ejs")%>
  <body>
    <div class="main">
      <h2>Welcome to our sales company <%= title %></h2>
      <div>
        <p>Авторизуйтесь, щоб користуватися всіма функціями сайту:</p>
    <form action="">
      <input type="text">
    </form>
      </div>

      <div>
        <p>Якщо ви вперше на нашому сайті то зареєструйтесь:</p>
    <form action="">
      <input type="text">
    </form>
      </div>
    </div>
 
  </body> 
</html>
