body {
  padding: 50px;
}
.main{
  padding: 40px;
  background-color: #6ac861;
  border-radius: 5px;
}
.component{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.info{
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}
.imgD{
display:inline-block;
width: fit-content;
}
.img{
  width: 200px;
  }